@media only screen and (min-width: 640px) {
    #members {
        grid-template-columns: repeat(4, 1fr);
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        text-align: center;
    }

    nav.open {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .logo {
        flex-direction: row;
        gap: 1rem;
    }
}