body {
    font-family: Arial, sans-serif;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

section {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
    background-color: #c8def3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
}

img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

h2 {
    color: #022c57;
    margin-bottom: 0.5rem;
}

p {
    margin: 0.3rem 0;
}